[[source]]
name = "pypi-tsinghua"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
python-dotenv = "*"
flask-wtf = "*"
pyopenssl = "*"
flask-ckeditor = "*"

[requires]
python_version = "3.7"
