{% extends "base.html" %}

{% from 'macro.html' import form_field %}
{% block body%}
<h2>login form</h2>
<form method="post" enctype="multipart/form-data">
    {{ login_form.csrf_token }}
    {{ form_field(login_form.username)}}
    {{ form_field(login_form.password)}}
    {{ form_field(login_form.submit)}}

</form>
<h2>register form</h2>
<form method="post" enctype="multipart/form-data">
    {{ register_form.csrf_token }}
    {{ form_field(register_form.username)}}
    {{ form_field(register_form.phone)}}
    {{ form_field(register_form.password)}}
</form>
{% endblock %}

{% block scripts %}
    {{super()}}
    {{ckeditor.load()}}
{% endblock %}